/* You can add global styles to this file, and also import other style files */
* {
  transition: 0.2s;
  font-family: "Questrial", sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5;
}
